/* Flower of Life (style-2 simplified) animations(s) CSS styles2 made by Rami Al-Saadi in 07/12/2023 */
@keyframes rotate360 {
  0% {
    transform: rotate(-0deg);
  }

  16.6666666667% {
    transform: rotate(-60deg);
  }

  33.3333333333% {
    transform: rotate(-120deg);
  }

  50% {
    transform: rotate(-180deg);
  }

  66.6666666667% {
    transform: rotate(-240deg);
  }

  83.3333333333% {
    transform: rotate(-300deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.text-container,
footer,
header {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  color: rgba(137, 43, 226, 0.412);
  font-family: "Courier New", Courier, monospace;
  background-color: #000;
  z-index: 999;
}

header {
  top: 0;
  padding: 0.31rem 0.8rem;
  filter: blur(1px);
  cursor: pointer;
}

header h1 {
  font-size: 1.8rem;
  margin: 0 auto;
  padding: 0%;
  cursor: pointer;
}

header h1::after {
  content: "2";
  display: block;
  width: 100%;
  font-size: 1.5rem;
  /* background-color: rgba(137, 43, 226, 0.412); */
  margin: 0.5rem auto;
  cursor: pointer;
}

footer {
  bottom: 0;
  font-size: 1.1rem;
  padding: 0.5rem;
  filter: blur(0.49px);
}

footer a {
  text-decoration: none;
  color: rgba(137, 43, 226, 0.412);
}

body {
  background-color: #000;
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

body>main {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  border-radius: 50%;
  /* background-color: rgba(255, 255, 255, 0.1); */
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
  opacity: 2;
  animation: rotate360 1s infinite;
  animation: hue 12s infinite linear alternate;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@keyframes hue {
  from {
    filter: hue-rotate(-10deg) saturate(0.7) brightness(0.16) contrast(1.3) blur(0.5vmin);
  }

  to {
    filter: hue-rotate(20deg) saturate(1.3) brightness(2) contrast(1.2) blur(0.2vmin);
  }
}

body>main div {
  position: absolute;
  width: 3.2vmin;
  height: 3.2vmin;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgb(255, 255, 255);
  opacity: 0.5;
  animation: rotate360 49s infinite linear;
  pointer-events: none;
}

body>main div:nth-of-type(1) {
  background-color: yellow;
  left: 0;
  top: 400%;
}

body>main div:nth-of-type(2) {
  background-color: green;
  left: 0;
  top: -400%;
}

body>main div:nth-of-type(3) {
  background-color: blue;
  left: 347.12%;
  top: 200%;
}

body>main div:nth-of-type(4) {
  background-color: red;
  left: -347.12%;
  top: 200%;
}

body>main div:nth-of-type(5) {
  background-color: orange;
  left: 347.12%;
  top: -200%;
}

body>main div:nth-of-type(6) {
  background-color: yellowgreen;
  left: -347.12%;
  top: -200%;
}

body>main div:nth-of-type(7) {
  background-color: violet;
  left: 694.24%;
  top: 0;
}

body>main div:nth-of-type(8) {
  background-color: mediumseagreen;
  left: -694.24%;
  top: 0;
}

body>main div:nth-of-type(9) {
  background-color: brown;
  left: 347.12%;
  top: 600%;
}

body>main div:nth-of-type(10) {
  background-color: turquoise;
  left: 347.12%;
  top: -600%;
}

body>main div:nth-of-type(11) {
  background-color: navy;
  left: -347.12%;
  top: 600%;
}

body>main div:nth-of-type(12) {
  background-color: gainsboro;
  left: -347.12%;
  top: -600%;
}