/* Flower of Life (style-2 simplified) animations(s) SCSS styles/classes2 made by Rami Al-Saadi in 06/12/2023 */

@use "./classes";
@use "common-variables" as *;
@use "variables2" as *;

.text-container {
    color: $text-color;
    background-color: #000;
    z-index: 999;
}