/* Flower of Life (style-2 simplified) animations(s) SCSS styles/classes made by Rami Al-Saadi in 06/12/2023 */
@use "common-variables" as *;
@use "variables" as *;

.text-container {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-family: $text-font;
    cursor: pointer;
    z-index: 999;
}