/* Flower of Life (style-2 simplified) animations(s) SCSS/_variables made by Rami Al-Saadi in 06/12/2023 */
@use "common-variables" as *;
// You can change the following variables to customize the animation
$animation-number: 1;
$size: 15vmin;

$text-color: if(lightness($bg-color) < 50, blueviolet, #111);
$animation-speed: 14s;
$animation2-speed: 4*$animation-speed;