/* Flower of Life (style-2 simplified) animations(s) SCSS made by Rami Al-Saadi in 06/12/2023 */

// You can change the following variables to customize the animation
$animation-number: 1;
$size: 15vmin;
$bg-color: #000;
$circles-colors: (
  yellow,
  green,
  blue,
  red,
  orange,
  yellowgreen,
  violet,
  mediumseagreen,
  brown,
  turquoise,
  navy,
  gainsboro
);
$text-color: blueviolet;
$text-font: 'Courier New', Courier, monospace;
$animation-speed: 14s;
$animation2-speed: 4*$animation-speed;

.text-container {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  color: $text-color;
  font-family: $text-font;
}

.circle-div {
  position: absolute;
  width: $size;
  height: $size;
  border-radius: 50%;
}

body {
  background-color: $bg-color;
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;

  header {
    @extend .text-container;
    top: 0;
    padding: 0.31rem 0.8rem;
    filter: blur(1px);

    h1 {
      font-size: 1.8rem;
      margin: 0 auto;
      padding: 0%;
    }
  }

  >main {
    @extend .circle-div;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    animation: rotate360 $animation2-speed infinite linear;

    div {
      @extend .circle-div;
      background-color: #fff;
      opacity: 0.5;
      border: 1px solid rgba(255, 255, 255, 1);

      $y: $animation-number*25%;
      $x: $animation-number*43.39%;
      // $2left: 86.7%;
      $circles-coords: (
        0 2*$y,
        0 -2*$y,
        $x $y,
        -1*$x $y,
        $x -1*$y,
        -1*$x -1*$y,
        2*$x 0,
        -2*$x 0,
        $x 3*$y,
        $x -3*$y,
        -1*$x 3*$y,
        -1*$x -3*$y
      );

    @for $i from 1 through length($circles-coords) {
      $coord: nth($circles-coords, $i);

      &:nth-of-type(#{$i}) {
        background-color: nth($circles-colors, $i);
        left: nth($coord, 1);
        top: nth($coord, 2);
      }
    }

    animation: rotate360 $animation-speed infinite;
  }
}

footer {
  @extend .text-container;
  bottom: 0;
  font-size: 1.1rem;
  padding: 0.5rem;
  filter: blur(0.49px);

  a {
    text-decoration: none;
    color: $text-color;
  }
}
}

@keyframes rotate360 {
  @for $i from 0 through 6 {
    #{$i*16.66666666666667}% {
      transform: rotate(-#{$i * 60}deg);
    }
  }
}